{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MHIAP | Attendance Monitoring</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'amonitoring_app/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'amonitoring_app/vendors/base/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'amonitoring_app/css/style.css' %}">
    
    {% block headblock %}

    {% endblock %}

</head>

<body>
    <div class="container-scroller">

        <div class="horizontal-menu">
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="container-fluid">
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- h1 class="m-0 text-dark" -->
                        <h1 class="display-1 text-dark">MHIAP - Manila Branch</h1>
                        
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item dropdown  d-lg-flex d-none">
                                <button type="button" class="btn btn-inverse-primary btn-sm">Home </button>
                            </li>
                            <li class="nav-item dropdown d-lg-flex d-none">
                                <a class="dropdown-toggle show-dropdown-arrow btn btn-inverse-primary btn-sm"
                                    id="nreportDropdown" href="#" data-toggle="dropdown">
                                    Reports
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                    aria-labelledby="nreportDropdown">
                                    <p class="mb-0 font-weight-medium float-left dropdown-header">Reports</p>
                                    <a class="dropdown-item">
                                        <i class="mdi mdi-file-pdf text-primary"></i>
                                        All
                                    </a>
                                    <a class="dropdown-item">
                                        <i class="mdi mdi-file-excel text-primary"></i>
                                        Exel
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown d-lg-flex d-none">
                                <button type="button" class="btn btn-inverse-primary btn-sm">Settings</button>
                            </li>
                           
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                            data-toggle="horizontal-menu-toggle">
                            <span class="mdi mdi-menu"></span>
                        </button>
                    </div>
                </div>
            </nav>
            
        </div>

        <div class="container-fluid ">
            {% block bodyblock %}


            {% endblock %}
        </div>

    </div>

    <script src="{% static 'amonitoring_app/vendors/base/vendor.bundle.base.js' %}"></script>

    <script src="{% static 'amonitoring_app/js/template.js' %}"></script>

    <script src="{% static 'amonitoring_app/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'amonitoring_app/vendors/progressbar.js/progressbar.min.js' %}"></script>
    
    <script src="{% static 'amonitoring_app/vendors/justgage/raphael-2.1.4.min.js' %}"></script>
    <script src="{% static 'amonitoring_app/vendors/justgage/justgage.js' %}"></script>
    <!-- Custom js for this page-->
    <script src="{% static 'amonitoring_app/js/dashboard.js' %}"></script>

</body>

</html>