{% extends 'management_main/base.html' %}

{% load static %}


{% block body %}


  <div class="row">
    
    {% for i in news %}
    <div class="card col-12">
        <div class="modal-footer row justify-content-center bg-dark">
            <h4>Click "X" button above to close</h4><span class="sr-only">(current)</span></a></button>
           </div>
        <div class="card card-primary card-outline">
            <div class="card card-pimarry card-outline">
                <div class="card-header bg-primary">
                    <div class="card-title">
                        <h2><b>{{i.title}}</b></h2>
                    </div>
                    <h4><span class="mailbox-read-time float-right">{{i.date}}</span></h4>
                </div>
            </div>
            <div style="background-color: rgb(228, 222, 208);">
                <p>
                <h3>{{i.body}}</h3>
                </p>
                <center>
                    <img src="{{i.pic.url}}" height="100%" width="1000">
                </center>

            </div>
            
        </div>

    </div>
    {% endfor %}
</div><br>




{% endblock %}
