{% load static %}
<div class="col-5">
    <div class="container">
        <!-- Modal Designer-->
        <div class="modal fade" id="myModaldesigner" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h3>Select Designer</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        {% for i in designer %}
                        <img id="{{i.username}}" src="{% static 'ims_main/img/' %}{{i.pic}}" class="modaldesigner"
                            style="border:4px solid  #03fcf4" width="75" height="75">
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal Checker-->
        <div class="modal fade" id="myModalchecker" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h3>Select Checker</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        {% for i in checker %}
                        <img id="{{i.username}}" src="{% static 'ims_main/img/' %}{{i.pic}}" class="modalchecker"
                            style="border:4px solid  #1cf211" width="75" height="75">
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal Area Lead-->
        <div class="modal fade" id="myModalarealead" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h3>Select Area lead</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        {% for i in arealead %}
                        <img id="{{i.username}}" src="{% static 'ims_main/img/' %}{{i.pic}}" class="modalarealead"
                            style="border:4px solid  #fffb03" width="75" height="75">
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="modal fade" id="myModalsv" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h3>Select SV</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        {% for i in sv %}
                        <img id="{{i.username}}" src="{% static 'ims_main/img/' %}{{i.pic}}" class="modalsv"
                            style="border:4px solid  #18056b" width="75" height="75">
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>