{% extends 'management_main/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div class="card ">

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{employee.last_name}}, {{employee.first_name}} ({{employee.nickname}})</td>
                        <td>{{employee.project}}</td>
                       
                    </tr>
                    {% endfor %}
                    
                   
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                      
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-3">

    </div>
</div>





{% endblock %}





{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

{% endblock %}